fastapi>=0.110.0
uvicorn>=0.27.0
sqlalchemy>=2.0.0
alembic>=1.13.0
psycopg-binary>=3.1.0
psycopg2-binary>=2.9.9
bcrypt==4.0.1
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
email-validator>=2.1.0
ruff>=0.3.0
mypy>=1.9.0
types-python-jose
types-passlib
pytest>=8.0.0
httpx>=0.27.0
pytest-xdist>=3.5.0
pytest-asyncio>=0.23.0
python-jose[cryptography]>=3.3.0
